body{
    background-color: #1df0c2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1{
    text-align: center;
    position: relative;
    font-size: 140px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    size: 200px;

}
button{
    background-color: #4CAF50;
    size: 200px;
    border: none;
    color: white;
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items:center;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;
}
button:active{
    background-color: #3e8e41;
}
